{% extends 'main/base.htm' %}
{% load staticfiles %}

{% block content %}

<div class="container" id="homebg">
    <h2 id="htwo">YOUR PRACTICE-LED TEACHING IN YOUR
        MOBILE <span><br>
            <p class="unleash" id="htwo">Unleash your unknown performance together with effectiveness and test-driven approach
            </p>
        </span>
    </h2>
    <div class="color-overlay"></div>
</div>


<div></div>
<div></div>


<h1 class="what">What is CodeKats?</h1>

<section class="hpmepage">
    <div class="maincontent">
        <div class="c1">
            <img class="icon1 icon" src="{% static 'main/images/icon/icon1.svg' %}" alt="">

            <h3 class="hand">Hand Picked Content</h3>

            <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum perspiciatis, sint
                dolor
                esse
                placeat quia ipsa aliquid! Non cupiditate ratione eius</p>
        </div>

        <div class="c2">
            <img class="icon1 icon" src="{% static 'main/images/icon/icon2.svg' %}" alt="">

            <h3 class="hand">Hand Picked Content</h3>

            <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum perspiciatis, sint
                dolor
                esse
                placeat quia ipsa aliquid! Non cupiditate ratione eius adipisci totam reprehenderit saepe recusandae
                assumenda</p>
        </div>

        <div class="c3">
            <img class="icon3 icon" src="{% static 'main/images/icon/icon3.svg' %}" alt="">

            <h3 class="hand">Hand Picked Content</h3>

            <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum perspiciatis, sint
                dolor
                esse
                placeat quia ipsa aliquid! Non cupiditate ratione eius adipisci totama</p>
        </div>

        <div class="c4">
            <img class="icon4 icon" src="{% static 'main/images/icon/icon4.svg' %}" alt="">

            <h3 class="hand">Hand Picked Content</h3>

            <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum perspiciatis, sint
                dolor
                esse
            </p>
        </div>

        <div class="c5">
            <img class="icon5 icon" src="{% static 'main/images/icon/icon5.svg' %}" alt="">

            <h3 class="hand">Hand Picked Content</h3>

            <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum perspiciatis, sint
                dolor
                esse
                placeat quia ipsa aliquid! Non cupiditate ratione eius adipisci totam reprehenderit</p>
        </div>

        <div class="c6">
            <img class="icon6 icon" src="{% static 'main/images/icon/icon6.svg' %}" alt="">

            <h3 class="hand">Hand Picked Content</h3>

            <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum perspiciatis, sint
                dolor
                esse
                a</p>
        </div>

    </div>
</section>

<hr>





<footer>
    <p>&copy; Copyright 2019 - CodeKats Labs</p>

    <p class="devby">Developed By <a href="http://akshaykalucha.pythonanywhere.com/">Akshay kalucha</a> </p>


</footer>















{% endblock %}